##############################################################
# Get in touch with us via the Foodies Project, and open and issue in one of the repos.
# https://github.com/nitzanto/Foodies-WebApp
# 
# These owners will be the default owners for everything in the main repo.
* @TomerMiz10 @JosephOri @nitzanto @omrifinegold11